<!DOCTYPE html>
<html>
    <head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
		<title>Statistika</title>
		<link rel="stylesheet" type="text/css" href="../../media/style.css">
    </head>
	<body>
		<div id="container">
			<h1>E-valimised 2015</h1>
				<ul class id="navigation">
					<li><a href="http://ev2015.cs.ut.ee/" class="button">Main</a></li>
					<li><a href="http://ev2015.cs.ut.ee/index.php/site/nimekiri" class="button">Nimekiri</a></li>
					<li><a href="http://ev2015.cs.ut.ee/index.php/site/tulemused" class="button">Tulemused reaalajas</a></li>
					<li><a href="http://ev2015.cs.ut.ee/index.php/site/Statistika" class="button">Statistika</a></li>
					<li><a href="http://ev2015.cs.ut.ee/index.php/site/haaletamine" class="button">Hääletamine</a></li>
				</ul>
			<div id="content">
				<h1>Statistika</h1>
				<p>Statistics, YAY!</p>
			
			</div>
			<form method="post" action="search.php?go" id="searchform"> 
				<p>Otsing<br>
				Piirkond:
				<select>
					<option selected="selected">...</option>
					<option value="a1">Piirkond1</option>
					<option value="a2">Piirkond2</option>
					<option value="a3">Piirkond3</option>
					<option value="a4">Piirkond4</option>
				</select><br>
				Erakond: 
				<select>
					<option selected="selected">...</option>
					<option value="e1">Erakond1</option>
					<option value="e2">Erakond2</option>
					<option value="e3">Erakond3</option>
					<option value="e4">Erakond4</option>
				</select><br>
				Kandidaat: <input type="text" name="Kandidaat"><br>
				<input type="submit" name="submit" value ="Otsi">
				</p>
			</form>
		</div>
    </body>
	
</html>