<html>
    <head>
		<meta charset="UTF-8">
		<title>Statistika</title>
		<link rel="stylesheet" type="text/css" href="style.css">
    </head>
	<body>
		<div id="container">
			<h1>E-valimised2015<h1/>
	
				<ul class id="navigation">
					<a href="index.html" class="button"><li>Main</li></a>
					<a href="Nimekiri.html" class="button"><li>Nimekiri</li></a>
					<a href="TulemusedReaalajas.html" class="button"><li>Tulemused Reaalajas</li></a>
					<a href="Statistika.html" class="button"><li>Statistika</li></a>
					<a href="Hääletamine.html" class="button"><li>Hääletamine</li></a>
				</ul>
			<div id="content">
				<h1>Statistika</h1>
				<p>Statistics, YAY!</p>
			
			</div>
		</div>
    </body>
	
</html>